<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>亚洲</string>
			<key>en</key>
			<string>Asia</string>
		</dict>
	</dict>
	<key>item2</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>欧洲</string>
			<key>en</key>
			<string>Europe</string>
		</dict>
	</dict>
	<key>item3</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>北美洲</string>
			<key>en</key>
			<string>North America</string>
		</dict>
	</dict>
	<key>item4</key>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>南美洲</string>
			<key>en</key>
			<string>South America</string>
		</dict>
	</dict>
	<key>item5</key>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>大洋洲</string>
			<key>en</key>
			<string>Oceania</string>
		</dict>
	</dict>
	<key>item6</key>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>非洲</string>
			<key>en</key>
			<string>Africa</string>
		</dict>
	</dict>
	<key>item7</key>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>parent_id</key>
		<integer>0</integer>
		<key>native_language</key>
		<string></string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>南极洲</string>
			<key>en</key>
			<string>Antarctica</string>
		</dict>
	</dict>
</dict>
</plist>
