<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>1111</string>
	<key>22</key>
	<string>2222</string>
	<key>33</key>
	<string>3333</string>
	<key>44</key>
	<string>4444</string>
	<key>55</key>
	<string>5555</string>
	<key>66</key>
	<string>6666</string>
</dict>
</plist>
