<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>10001</integer>
		<key>parent_id</key>
		<integer>208</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>province</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>北京市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10002</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>东城区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10003</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>西城区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10004</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>朝阳区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10005</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>丰台区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10006</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>石景山区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10007</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>海淀区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10008</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>门头沟区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10009</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>房山区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10010</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>通州区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10011</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>顺义区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10012</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>昌平区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10013</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>大兴区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10014</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>怀柔区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10015</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>平谷区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10016</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>密云县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10017</integer>
		<key>parent_id</key>
		<integer>10001</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>延庆县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10018</integer>
		<key>parent_id</key>
		<integer>208</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>province</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>天津市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10019</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>和平区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10020</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>河东区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10021</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>河西区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10022</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>南开区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10023</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>河北区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10024</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>红桥区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10025</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>东丽区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10026</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>西青区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10027</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>津南区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10028</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>北辰区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10029</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>武清区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10030</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>宝坻区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10031</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>滨海新区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10032</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>宁河县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10033</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>静海县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10034</integer>
		<key>parent_id</key>
		<integer>10018</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>蓟县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10035</integer>
		<key>parent_id</key>
		<integer>208</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>province</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>河北省</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10036</integer>
		<key>parent_id</key>
		<integer>10035</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>city</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>石家庄市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10037</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>长安区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10038</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>桥东区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10039</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>桥西区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10040</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>新华区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10041</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>井陉矿区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10042</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>裕华区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10043</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>井陉县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10044</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>正定县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10045</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>栾城县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10046</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>行唐县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10047</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>灵寿县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10048</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>高邑县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10049</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>深泽县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10050</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>赞皇县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10051</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>无极县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10052</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>平山县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10053</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>元氏县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10054</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>赵县</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10055</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>辛集市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10056</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>藁城市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10057</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>晋州市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10058</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>新乐市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10059</integer>
		<key>parent_id</key>
		<integer>10036</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>鹿泉市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10060</integer>
		<key>parent_id</key>
		<integer>10035</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>city</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>唐山市</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10061</integer>
		<key>parent_id</key>
		<integer>10060</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>路南区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10062</integer>
		<key>parent_id</key>
		<integer>10060</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>路北区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10063</integer>
		<key>parent_id</key>
		<integer>10060</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>古冶区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10064</integer>
		<key>parent_id</key>
		<integer>10060</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>开平区</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10065</integer>
		<key>parent_id</key>
		<integer>10060</integer>
		<key>is_region</key>
		<integer>1</integer>
		<key>region_level</key>
		<string>county</string>
		<key>name</key>
		<dict>
			<key>zh-CN</key>
			<string>丰南区</string>
		</dict>
	</dict>
</array>
</plist>
