<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>state</key>
		<string></string>
		<key>trip_key</key>
		<string></string>
		<key>trip_index</key>
		<integer>0</integer>
		<key>trip_name</key>
		<string>随意旅行</string>
		<key>trip_description</key>
		<string>I am travelling at Africa!</string>
		<key>trip_main_image</key>
		<string>www.bailinglvxing.com</string>
		<key>trip_begin_date</key>
		<date>2013-02-27T09:48:19Z</date>
		<key>create_date</key>
		<date>2014-07-01T09:32:08Z</date>
		<key>trip_days</key>
		<array>
			<dict>
				<key>trip_dayth</key>
				<integer>0</integer>
				<key>day_spots</key>
				<array>
					<dict>
						<key>spot_continent</key>
						<string>0</string>
						<key>spot_country</key>
						<string></string>
						<key>spot_city</key>
						<string></string>
						<key>spot_name</key>
						<string></string>
						<key>spot_address</key>
						<string></string>
						<key>spot_info</key>
						<string></string>
					</dict>
					<dict>
						<key>spot_continent</key>
						<string></string>
						<key>spot_country</key>
						<string></string>
						<key>spot_city</key>
						<string></string>
						<key>spot_name</key>
						<string></string>
						<key>spot_address</key>
						<string></string>
						<key>spot_info</key>
						<string></string>
					</dict>
					<dict>
						<key>spot_continent</key>
						<string></string>
						<key>spot_country</key>
						<string></string>
						<key>spot_city</key>
						<string></string>
						<key>spot_name</key>
						<string></string>
						<key>spot_address</key>
						<string></string>
						<key>spot_info</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
